.App {
  text-align: center;
  height: 100%;
}

#root {
  height: 100%;
}

.App-header {
  opacity: .8;
  font-size: 8em;
}

.name {
  font-weight: bold;
  margin-bottom: 10px;
}

.addSubtractButton {
  margin-left: 10px;
}

.country {
  margin-bottom: 10px;
}